p {
    font-family: 'Ubuntu', sans-serif; /* Set the font-family to Ubuntu */
    font-weight: bold; /* Set the text to normal weight (not bold) */
        margin-top: 20px; /* Adjust the top and bottom margin as needed */
        margin-bottom: 50px;
}